#app-main-div {
  height: 100%;
  width: 100%;
  background-color: rgba(red, green, blue, alpha);
  display: flex;
  justify-content: center;
  align-items: center;
}

#airports-input {
  margin: 20vh 0px;
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
}

.input-div {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.btns-group {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.btn-full-size {
  width: 90%;
}

#add-btn {
  background-color: black;
  color: white;
}

.btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 16px;
  margin: 1px;
}

.btn:hover {
  transition: all 0.3s ease;
  background-color: black;
  color: white;
}

button:focus {
  outline: none;
}

input {
  width: 85%;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

p {
  font-size: large;
}
